<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="Tiger In-house" value="http://tfs.speedycash.ict:8080/tfs/Tiger%20Financial%20Projects/_packaging/In-house/nuget/v3/index.json" />
        <!--<add key="Local Tiger.Authentication.Client" value="C:\repos\Tiger.Authentication\Tiger.Authentication.Client\bin\Debug" />
		<add key="Local Tiger.Authentication.Client.Web" value="C:\repos\Tiger.Authentication\Tiger.Authentication.Client.Web\bin\Debug" />-->
    </packageSources>
</configuration>